Package: com.maskey.prosiri
Name: ProSiri
Depends: mobilesubstrate
Version: 1.2.0
Architecture: iphoneos-arm
Description: The Siri your old OS deserves
Maintainer: Maskey
Author: Maskey
Section: Tweaks
